---js
// <script>
const pagination = {
	data: "collections.visibleTagNames",
	size: 1,
	alias: "tag",
};

const eleventyExcludeFromCollections = true;

const eleventyComputed = {
	title: "Tagged '{{ tag }}'",
	permalink: function(data) {
		// If DuplicatePermalinkOutputError occurs, check that no tag occurs
		// with differing case, e.g. "RSS" and "rss".
		return `/tags/${this.slugify(data.tag)}/`;
	}
};
---
<h1>Tagged “{{ tag }}”</h1>

{% set postslist = collections.visiblePosts | postsWithTag(tag) %}
{% include "postslist.njk" %}

<p>See <a href="tags.njk">all tags</a>.</p>
